<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.zkkn.android.disruptions">

    <application
        tools:replace="android:name"
        android:name="eu.zkkn.android.disruptions.DebugApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

    </application>

</manifest>
